$input-border-color: #dddfe2;
$input-border-focus: #1877f2;
$btn-create-acc-color: #42b72a;
$page-bg-grey: #f0f2f5;
$btn-log-in-color: #0d6efd;

:export {
  inputBorderColor: $input-border-color;
  inputBorderFocus: $input-border-focus;
  btnCreateAccColor: $btn-create-acc-color;
  pageBgGrey: $page-bg-grey;
}