$input-border-color: #dddfe2;
$input-border-focus: #1877f2;
$btn-log-in-color: #0d6efd;
$btn-create-acc-color: #42b72a;
$input-box-shadow: #e7f3ff;
$page-bg-grey: #f0f2f5;
$no-read-messages-background: #bcbcbc;
$scroll-color: #888888A5;
$dark-white-color: #F1F1F1CC;
$border-between-blocks: #e7e7e7;
$scrollbar-track-color: #FFFFFF7F;
$scrollbar-color: #00000066;
