@import 'src/static/fonts/fonts';
@import "src/static/colors/colors";

.loginPage{
    height: 100%;
    background-color: $page-bg-grey;

    .loginPageContainer {
        width: 800px;
        margin: 0 auto;
        padding: 92px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .textUnderLogo {
            font-family: SFPro;
            margin-top: 1.5rem;
            font-size: 2em;
        }
    }
}

:export {
    loginPage: login-page;
    loginPageContainer: login-page-container;
    textUnderLogo: text-under-logo;
}
